<main class="chat-wrapper">
  <header>
    <button (click)="return()">
      <arrow-left></arrow-left>
    </button>
    <catedral-icon></catedral-icon>
    <div class="status">
      <p>Catedral</p>
      <span>• Online</span>
    </div>
  </header>
  <section class="chat-content">
    <chat-suggestions
      (questionSelected)="sendQuestion($event)"
      *ngIf="questions.length < 1"
    ></chat-suggestions>
    <chat-dialog [messages]="questions"></chat-dialog>
  </section>
  <form [formGroup]="chatForm">
    <input placeholder="Escreva sua mensagem aqui" type="text" id="name" formControlName="message"/>
    <button (click)="submit()">
        <vector-right></vector-right>
    </button>
</form>
</main>
