:root {
    --primary-color: #007BFF;
    --text-primary: #757575;
    --text-bold: #3E3E3E;
    --online-color: #3ABF38;
    --bg-secondary: #F4F4F4;
    --bg-primary: #FFF;
}
* {
    font-family: "Nunito", sans-serif;
}