:root {
  --primary-color: #007bff;
  --text-primary: #757575;
  --text-secondary: #3f3f3f;
  --text-bold: #3e3e3e;
  --text-chat: #a1a1a1;
  --green-color: #3abf38;
  --bg-secondary: #f4f4f4;
  --bg-primary: #fff;
  --border-color: #ececec;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
